body {
  background-color: #78cbd1;
  margin: -10px 0 0 0;
}

.topcontainer2 {
  background-color: white;
  border-radius: 1em 1em 0 0;
}

.topcontainer1 {
  background-color: #d6f1f0;
}

#sign {
  width: 60%;
  margin: 45% 0 0 0;
}

.savings {
  margin-top: -50px;
}

.logo {
  margin-top: 7.5%;
}

.pink li {
  padding: 5px 0 0 0;
  display: inline;
 }

.pink {
   background-color: #f4cbd3;
   width: 100%;
 }

 .search {
   margin: 5px 0;
 }

 .content {
  background-color: white;
  border-radius: 0 0 1em 1em;
}

p {
  display: inline;
}

.button {
  border-radius: 2em 2em 2em 2em;
  color: white;
}

.button:first-child {
  background-color: #78cbd0;
  border-color: #78cbd0;
}

.button:nth-child(2) {
  background-color: #8db639;
  border-color: #8db639;
}

.button:nth-child(3) {
  background-color: #6f30ac;
  border-color: #6f30ac;
}

.button:nth-child(4) {
  background-color: #e916bc;
  border-color: #e916bc;
}
