body {
  background-color: #78cbd1;
  margin: -10px 0 0 0;
}

.topcontainer2 {
  background-color: white;
  border-radius: 1em 1em 0 0;
}

.topcontainer1 {
  background-color: #d6f1f0;
}

#sign {
  width: 60%;
  margin: 45% 0 0 0;
}

.savings {
  margin-top: -50px;
}

.logo {
  margin-top: 7.5%;
}

.pink li {
  padding: 5px 0 0 0;
  display: inline;
 }

.pink {
   background-color: #f4cbd3;
   width: 100%;
 }

 .search {
   margin: 5px 0;
 }

 .content {
  background-color: white;
  border-radius: 0 0 1em 1em;
}
