body {
  background-color: #78cbd1;
  margin: -10px 0 0 0;
}

.topcontainer2 {
  background-color: white;
  border-radius: 1em 1em 0 0;
}

.topcontainer1 {
  background-color: #d6f1f0;
}

#sign {
  width: 60%;
  margin: 20% 10% 0 0;
}

.savings {
  margin-top: -50px;
}

.logo {
  margin-top: 7.5%;
}

.pink li {
  padding: 5px 0 0 0;
  display: inline;
 }

.pink {
   background-color: #f4cbd3;
   width: 100%;
 }

 .search {
   margin: 10px 0 10px 100px;
   background:url('/images/search.gif');
   background-repeat: no-repeat;
 }

 .content {
  background-color: white;
  border-radius: 0 0 1em 1em;
  margin: -25px 152.5px 0 152.5px;

    }

 p {
   display: inline;
   margin: 0 0;
 }

 .shop {
   margin: 0 0 0 25px;
 }

 .babymid {
   margin: 10px 0 10px 0;
 }

 .babybot {
   margin: 0px 0 0 0;
 }

 .dot {
   margin: 50px 0 0 0;
 }

 .social {
   margin: 30px 0 30px 0;
 }

 .tree {
   margin: -25px 0 0 0;
 }

 .footer {
   margin: 10px 0 10px 10px;
  }

