/* SignIn Signup
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.signin {
  display: inline;
}

.signup {
  display: inline;
}

/* Background
–––––––––––––––––––––––––––––––––––––––––*/
body {
  background-color: rgb(205, 238, 236);
 }

 /* Nav1
–––––––––––––––––––––––––––––––––––––––––*/
.nav1{
  display: inline;
}

